
.vs
*.old
*.lnk
*.nupkg
Data
packages
Bonsai/Packages
Bonsai/Extensions
Bonsai/Bonsai.exe.settings
Workflows/VideoPlayer/Videos
SurpriseIntelligence/bin
SurpriseIntelligence/obj
Workflows/Exhibit/Videos
Workflows/Exhibit/Log.txt
